Package: zamanligorev-dbgsym
Source: zamanligorev
Version: 1.7.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 68
Depends: zamanligorev (= 1.7.0)
Section: debug
Priority: optional
Description: debug symbols for zamanligorev
Build-Ids: 3066923c741ad9a0f5b377ba1d85c0ab704bdea2 4272b80a414999b2c1ae8dc2ce9adfea577b00ac 9e3cc7e4ea6c3cbf8b4d4920c011727d2e6ca8d4
