Package: zamanligorev-dbgsym
Source: zamanligorev
Version: 1.4.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 64
Depends: zamanligorev (= 1.4.0)
Section: debug
Priority: optional
Description: debug symbols for zamanligorev
Build-Ids: 426a0a3934956597adb0f6ea9be1930daf487477 b7d1d2b9977a912cfc926eaa66664f46a81edc2d faac1525762f4c12e320d667ebb90a6099db5787
