[Desktop Entry]
Version=1.0
Name=zamanligorev Application
Name[tr]=zamanligorev Uygulaması
Type=Application
Comment=Simple Qt based zamanligorev Application
Comment[tr]=Basit Qt tabanlı zamanligorev Uygulaması
Terminal=false
Exec=/usr/bin/zamanligorevtray
Icon=/usr/share/zamanligorev/zamanligorev.svg
Categories=Qt;Utility;
Keywords=zaman;görev;task;
GenericName=autostartzamanligorevtray
Name[tr_TR]=autostartzamanligorevtray
