Source: zamanligorev
Section: utils
Priority: optional
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Build-Depends: debhelper (>= 10), 
    libc6,
    libgcc1,
    libgcc-12-dev,
    libgl1-mesa-glx | libgl1,
    libqt5core5a,
    libqt5gui5,
    libqt5network5,
    libqt5qml5,
    libqt5quick5,
    libqt5svg5-dev,
    libqt5widgets5,
    libstdc++6,
    qtdeclarative5-dev
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: zamanligorev
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends},
     libqt5xml5
Description: zamanligorev uygulaması
