[Unit]
Description=zamanligorevservis

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/usr/bin/zamanligorevservis

[Install]
WantedBy=multi-user.target
